{% extends "main/layout.html" %}
{% block title %} Login Page {% endblock title%}
{% block content %}
    <div class="container">
        <div class="form-holder">
            <div class="form-content">
                <div class="row">
                    <div class="form-items">
                        <div class="card-header justify-content-center">
                          <h3 class="font-weight-light my-1 text-center" style="color: grey !important;">Авторизация</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" >&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <form method="POST" style="margin-left: 0px !important;">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group" style="color: grey !important;" >
                                            <label class="small mb-1">Username</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group" style="color: grey !important;" >
                                          <label class="small mb-1">Password</label>
                                          {{ form.password }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row">
                                        <div class="form-group" style="color: grey !important;">
                                            <!-- Add a Remember me functionality -->
                                            {{ form.remember_me }}
                                            <label > Remember me</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group mt-0 mb-1">
                                          <button name="login" class="features btn btn-dark text-center" id="login">Sign in</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}